<div class="container mt-5 mb-5">

  <h3 class="mb-3"><u>Property binding Test (Interpolation)</u></h3>
  <p id="heading">{{heading}}</p>
  <input id="interpolation-input" [type]="inputType" [placeholder]="inputPlaceholder" [disabled]="disabled">
  <hr>

  <h3 class="mb-3"><u>Two-way binding Test</u></h3>
  <input type="text" id="title" [(ngModel)]="title"> <br>
  <p class="mt-3" id="title-display">{{title}}</p><br>
  <button class="btn btn-primary" id="clickMe" (click)="onClick()">Click Me!</button><br>
  <hr>

  <h3 class="mb-3"><u>Input Output Test / Service Methods Test / Default Pipe Test</u></h3>
  <div class="card-container">
    <app-shop *ngFor="let shop of shops"
              [shop]="shop"
              (selected)="selected($event)"></app-shop>
  </div>
  <p class="mt-3"><b>Selected Shop:</b> {{selectedShop}}</p>
  <hr>

  <h3 class="mb-3"><u>HTTP Call Test</u></h3>
  <h2>Posts</h2>
  <button class="btn btn-outline-primary mb-3" (click)="getPosts()">Fetch Posts</button>
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
  <hr>

  <h3 class="mb-3">Router Test/Lazy Loaded Module Test</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/lazy-test">Load module</a></li>
      <li class="breadcrumb-item"><a routerLink="/todos">Todos</a></li>
      <li *ngIf="selectedTodo" class="breadcrumb-item" aria-current="page">{{selectedTodo}}</li>
    </ol>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <hr>

  <h3 class="mb-3"><u>Directive Test</u></h3>
  <p appHighlight="yellow">Highlight with yellow color</p>
  <p appHighlight>Highlight with default color</p>
  <p>No Highlight</p>
  <input [(ngModel)]="color" [appHighlight]="color" type="text" value="lightblue"/>
  <hr>

  <h3 class="mb-3"><u>Pipe Test</u></h3>
  <p id="pipe-test">{{'This is a pipe test - uppercase' | lettercase : 'uppercase'}}</p>
  <p id="pipe-test">{{'This is a pipe test - lowercase' | lettercase : 'lowercase'}}</p>
  <p id="pipe-test">{{'This is a pipe test - kebabcase' | lettercase : 'kebabcase'}}</p>
  <hr>

  <h3>ngClass Test</h3>
  <p ngClass="paragraph" id="ng-class-test">This is a paragraph for testing ngClass binding. Class will set border, font style and font color.
    The text-indent property specifies the indentation of the first line in a text-block. Note: Negative values are allowed.
    The first line will be indented to the left if the value is negative. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
  </p>

  <p class="paragraph" [ngClass]="fontStyle === 'bold' ? 'bold-font' : 'underline-font'" id="conditional-ng-class-test">This is a paragraph for testing ngClass binding. Class will set border, font style and font color.
    The text-indent property specifies the indentation of the first line in a text-block. Note: Negative values are allowed.
    The first line will be indented to the left if the value is negative. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
  </p>
  <hr>

  <h3>ngStyle Test</h3>
  <p class="paragraph" id="ng-style-test" [ngStyle]="{color: 'magenta'}">This is a paragraph for testing ngClass binding. Class will set border, font style and font color.
    The text-indent property specifies the indentation of the first line in a text-block. Note: Negative values are allowed.
    The first line will be indented to the left if the value is negative. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
  </p>

  <p class="paragraph" id="conditional-ng-style-test" [ngStyle]="{color: fontColor == 'blue' ? '#0e6ffd' : 'lightgreen'}">This is a paragraph for testing ngClass binding. Class will set border, font style and font color.
    The text-indent property specifies the indentation of the first line in a text-block. Note: Negative values are allowed.
    The first line will be indented to the left if the value is negative. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
  </p>
  <hr>

  <h3>Attibute Binding Test</h3>
  <button class="btn btn-success" id="aria-label-test" [attr.aria-label]="ariaLabel" type="submit">Save</button>
  <hr>

  <h3>ngIf Test</h3>
  <div id="colorPickerDiv" class="mb-3" *ngIf="!selectedColor else showSelectedColor">
    <label for="colorPicker" class="form-label">Color Picker</label>
    <input class="form-control" style="width: 50px;" type="color" id="colorPicker" [(ngModel)]="selectedColor">
  </div>
  <ng-template #showSelectedColor>
    <div id="ngTemplate">
      Selected Color: {{selectedColor}}  
      <div class="box" [ngStyle]="{background: selectedColor}"></div>
      <button class="btn btn-outline-success" (click)="selectedColor = ''">Remove Color</button>
    </div>
  </ng-template>
  <hr>

  <h3>ngSwitch Test</h3>
  <div><b>Number in Words</b></div>
  <div [ngSwitch]="num" id="numInWords">
    <p *ngSwitchCase="10">10 - Ten</p>
    <p *ngSwitchCase="20">20 - Twenty</p>
    <p *ngSwitchCase="30">30 - Thirty</p>
    <p *ngSwitchCase="40">40 - Fourty</p>
    <p *ngSwitchCase="50">50 - Fifty</p>
    <p *ngSwitchDefault>0 - Zero</p>
  </div>
  <hr>

  <h3>ngFor Test</h3>
  <div><b>Tourist Places</b></div>
  <div class="tour-place" *ngFor="let place of places">{{place.place}} - {{place.state}}</div>
  <hr>

  <h3>SpyOn Test</h3>
  <div>
    <h5>Arithmetic Operation:</h5>
    <p>Addition: {{this.calculator('add', 10, 10)}}</p>
    <p>Substraction: {{this.calculator('sub', 10, 10)}}</p>
    <p>Multiplication: {{this.calculator('mul', 10, 10)}}</p>
    <p>Division: {{this.calculator('div', 10, 10)}}</p>
  </div>
  <hr>

  <h3>Reactive Form Test</h3>
  <div class="form-wrapper">
    <form [formGroup]="form" class="needs-validation">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
        <div class="invalid-feedback d-block" *ngIf="(isSubmitted || form.controls['email'].touched) && form.controls['email'].invalid">
          <div *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">This field is required</div>
          <div *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">Enter valid email</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="********" formControlName="password">
        <div class="invalid-feedback d-block" *ngIf="(isSubmitted || form.controls['password'].touched) && form.controls['password'].invalid">
          <div *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">This field is required</div>
          <div *ngIf="form.controls['password'].errors && form.controls['password'].errors['pattern']">Password must contain 8 alphabets only</div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Login</button>
    </form>
</div>
<hr>

<h3>Template Driven Form Testing</h3>
<div class="form-wrapper">
  <form name="loginForm" role="form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmitTemplateForm(loginForm)">
    <div class="mb-3">
      <label for="email1" class="form-label">Email address</label>
      <input type="email" email required class="form-control" name="email" id="email1" placeholder="name@example.com" [(ngModel)]="model.email" #email="ngModel">
      <div class="invalid-feedback d-block" *ngIf="(loginForm.submitted || email.touched) && email.invalid">
        <div *ngIf="email.errors && email.errors['required']">This field is required</div>
        <div *ngIf="email.errors && email.errors['email']">Enter valid email</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" required pattern="^[a-zA-Z]{8}$" class="form-control" name="password" id="password1" placeholder="********"[(ngModel)]="model.password" #password="ngModel">
      <div class="invalid-feedback d-block" *ngIf="(loginForm.submitted || password.touched) && password.invalid">
        <div *ngIf="password.errors && password.errors['required']">This field is required</div>
        <div *ngIf="password.errors && password.errors['pattern']">Password must contain 8 alphabets only</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form> 
</div>
<hr>
</div>
